html
  background: black
  color: white
  font: 14px "Helvetica Neue", sans-serif
  text-align: center

.stack
  > *
    display: none

    &.active
      display: block

a
  color: inherit

nav
  font-size: 50px
  position: absolute
  right: 15px
  top: 15px

  a
    display: block
    margin: 20px 0
    text-decoration: none

.classify,
.results
  font-size: 50px
  margin-top: 40px

  .action
    bottom: 15px
    position: absolute
    right: 15px

    button
      background: transparent
      border: 0
      color: inherit
      display: block
      font: inherit
      padding: 0
      margin: 20px 0
