html
  background: black
  color: white
  font: 14px "Helvetica Neue", sans-serif
  text-align: center

.stack
  > *
    display: none

    &.active
      display: block

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  padding: 0

a
  color: inherit

nav
  font-size: 50px
  position: absolute
  right: 15px
  top: 15px

  a
    display: block
    margin: 20px 0
    text-decoration: none

    &.results
      font-size: 24px

.classify,
.results
  font-size: 50px
  margin-top: 40px
  text-align: center

  .action
    bottom: 15px
    position: absolute
    right: 15px

    button
      display: block
      margin: 20px 0
      width: 100%

      &[name="next"]
        font-size: 24px
