@import "css3-mixins";
@import "button-mixins";

$mainfont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttoncolor: #f00;
$black: #000;
$canvascolor: #111;

body {
	font-family: $mainfont;
	background: $black;
}

#tracer {
	position: relative;
	cursor: crosshair;

	#tracercanvas {
		position: absolute;
		width: 800px;
		height: 600px;
		z-index: 10;
		background: $canvascolor;
	}

	#button {
		@include button-style($buttoncolor);
		border: none;
		position: absolute;
		z-index: 10;
		top: 10px;
		left: 10px;
	}
}